<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body class="login-img3-body">
	<div class="sufee-alert alert with-close alert-success alert-dismissible fade show"
		th:if="${success != null}"
 		style="display: inline-block; position: absolute; right: 0px; margin-top: 10px;
 		padding-bottom: 1px;">
 		<a th:text="${success}"></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        	th:if="${success != null}" style="padding-top: 5px;">
        <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show"
 		th:if="${error != null}"
 		style="display: inline-block; position: absolute; right: 0px; margin-top: 10px;
 		padding-bottom: 1px;">
 		<a th:text="${error}"></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        	th:if="${error != null}" style="padding-top: 5px;">
        <span aria-hidden="true">x</span>
        </button>
	</div>
	<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show"
 		th:if="${warning != null}"
 		style="display: inline-block; position: absolute; right: 0px; margin-top: 10px;
 		padding-bottom: 1px;">
 		<a th:text="${warning}"></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        	th:if="${warning != null}" style="padding-top: 5px;">
        <span aria-hidden="true">x</span>
        </button>
	</div>
	<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show"
 		th:if="${info != null}"
 		style="display: inline-block; position: absolute; right: 0px; margin-top: 10px;
 		padding-bottom: 1px;">
 		<a th:text="${info}"></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        	th:if="${info != null}" style="padding-top: 5px;">
        <span aria-hidden="true">x</span>
        </button>
	</div>
	<div class="container"
		style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">

		<form class="login-form" style="margin-top: 0px;"
			th:action="@{/login}" method="post">
			<div class="login-wrap">
				<div style="text-align: center;">
					<h3>Ingresa a tu cuenta</h3>
					<br>
				</div>
				<p class="login-img">
					<i class="material-icons" style="font-size: 80px; color: #007aff;">lock_outline</i>
				</p>
				<div class="input-group">
					<span class="input-group-addon"><i class="material-icons">person</i></span>
					<input type="text" name="username" id="username"
						class="form-control" placeholder="Usuario" autofocus>
				</div>
				<div class="input-group">
					<span class="input-group-addon"> <i class=" material-icons">vpn_key</i></span>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Contraseña">
				</div>
				<label class="checkbox" style="size: 8px;"> <input
					type="checkbox" value="remember-me">Recuerda mis datos<span
					class="pull-right"> <a href="#">¿Olvidaste tu
							contraseña?</a>
				</span>
				</label>
				<div class="input-group">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
				</div>
				<div class="input-group">
					<button class="btn btn-info btn-lg btn-block" type="submit">Registrarse</button>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</div>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>