<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Veterinaria</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Inicio
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/listaProductos}">Productos</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/crearProducto}">Agregar Producto</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Dropdown </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<br>
	<div class="container">
	<h1 th:text="${titulo}" class="text-secondary border border-success"></h1>	
		<form th:action="@{/registrarProducto}" th:object="${producto}"
			method="post">
			<table class="table table-bordered">
				<tr>
					<td>Nombre</td>
					<td><input type="text" th:field="*{nombre}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>Descripción</td>
					<td><input type="text" th:field="*{descripcion}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>Precio</td>
					<td><input type="text" th:field="*{precioUnitario}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>Stock</td>
					<td><input type="text" th:field="*{stock}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>Recomendaciones</td>
					<td><input type="text" th:field="*{recomendaciones}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="Guardar producto"
						class="btn btn-primary" /></td>
				</tr>
			</table>
			<td><input type="hidden" th:field="*{idProducto}" /></td>
		</form>
	</div>
</body>
</html>